# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment Folders
venv/
.venv/

# Log Files and Temporary Files
*.log
*.tmp

# System Files (macOS and Windows)
.DS_Store
Thumbs.db

# IDE and Editor-Specific Files
.vscode/
.idea/
*.swp
*.swo

# Git Merge Conflict Files
*.orig
